.AccountInfo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 330px
}

.myButton {
  background-color: rgb(46, 46, 72) !important;
  margin-left: auto !important;
  color: white !important;
}
