.App {
  background-color: rgb(46, 46, 72);
  height: 100vh;
  color: white;
  font-size: 20px;
  // grid-template-columns: 100%;
}

.BalanceTable {
  width: 100%;
}

.FunctionTab {
  display: grid;
  width: 100%;
}
